html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
}

* {
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.text-faded {
    color: rgba(255, 255, 255, .7);
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100px;
    border: 0;
    border-top: 2px solid #eb3812;
}

header {
    min-height: 100%;
    position: relative;
    width: 100%;
    text-align: center;
    background-position: center;
    background-image: url(../img/header.jpg);
    background-size: contain;
}

header .header-content p {
    font-size: 25px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
}

video {
    object-fit: cover;
    width: 730px;
}

section {
    padding: 100px, 0;
}

a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #adadad;
}

a:focus,
a:hover {
    color: #eb3812;
}

.navbar {
    background-color: #333;
    border-width: 0 0 1px;
    min-height: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-color: rgba(255, 255, 255, .3);
    right: 0;
    left: 0;
    z-index: 1030;
}

.navContainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 200px;
    margin-left: 200px;
    text-align: center;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: table;
    content: " ";
}

.navbar-header {
    float: left;
}

.navbar-brand {
    text-transform: uppercase;
    color: rgba(255, 255, 255, .7);
    text-decoration: none;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-collapse {
    margin-right: 0;
    margin-left: 0;
    display: block!important;
}

.navbar-right {
    float: right!important;
    margin-right: -15px;
    margin-top: 5px;
}

.navbar>li {
    float: left;
    position: relative;
    display: block;
}

.navbar>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .7);
    text-decoration: none;
    font: 15px sans-serif;
    font-weight: 550;
}

.navbar>li>a:hover {
    color: #eb3812;
}

.header-content {
    position: absolute;
    top: 8%;
    width: 100%;
    text-align: center;
    padding: 0 50px;
}

.search {
    position: relative;
    width: 650px;
    margin: auto;
    min-height: 60px;
}

.searchbar {
    background: #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 16px Arial, Helvetica, Sans-serif;
    color: #bebebe;
    width: 600px;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    transition: all 0.7s ease 0s;
}

.searchbar:hover {
    width: 700px;
}

.btn {
    margin: 20px;
    color: #fff;
    background-color: #dd3309;
    border: none;
    border-radius: 200px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
}

.btn:hover {
    background-color: #ff2f00;
}

.no-padding {
    padding: 0;
}

.location {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.location p {
    text-align: center;
    font-size: 25px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    color: rgba(223, 68, 68, 0.7);
    margin-top: 0;
}

.btn-location {
    text-align: center;
    vertical-align: top;
}

.no-gutter>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
    color: #fff;
    opacity: 0;
    display: block;
    background: rgba(240, 95, 64, .9);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption:hover {
    opacity: 1;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 0 15px
}

.portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 0 15px;
    font-size: 35px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.col-sm-6 {
    width: 50%;
    float: left;
}

.signup-container {
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 800px;
    border-radius: 5px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, .25);
}

.section-heading {
    font: bold 30px Arial, Helvetica, Sans-serif;
    text-transform: uppercase;
    font-weight: 750;
    text-align: center;
}

.register-container {
    width: 70%;
    height: 100%;
    color: rgb(0, 0, 0);
    margin: auto;
}

.signup__form {
    font-size: 16px;
    padding: 2.5rem;
    background: #fafafa;
}

label {
    font-size: .85rem;
    text-transform: uppercase;
    color: #ccc;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.form-control:focus {
    border-color: #111;
}

[type="text"] {
    color: #111;
}

[type="password"] {
    color: #111;
}

.btn-regist {
    padding: .5rem 2.5rem;
    font-size: .95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #111;
    border-radius: remy(35px);
    margin-left: auto;
}

.btn-regist:focus,
:hover {
    background: lighten(#111, 13%);
}

.signup__link {
    font-size: .8rem;
    font-weight: 600;
    text-decoration: underline;
    color: #999;
}

.signup__link:focus,
:hover {
    color: darken(#999, 13%);
}

.list-inline {
    text-align: center;
}

.contact {
    padding-bottom: 150px;
}

.contact-text {}

.contact-icon {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 30px 15px;
    width: 25%;
}